{
  "parser": "@babel/eslint-parser",
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "plugins": ["jsx","prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
    ],
  "env": {
    "jest": true,
    "jasmine": true,
    "node": true,
    "browser": true,
    "es6": true

  },
  "rules": {
    "prettier/prettier":
      ["error", {
          "singleQuote": true,
          "jsxSingleQuote": false,
          "arrowParens": "avoid",
          "semi": true,
          "trailingComma": "all",
          "spaceAfterFunction": true
        }],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-alert": "error",
    "no-debugger": "error",
    "prefer-const": "error",
    "prefer-arrow-callback": "error",
    "no-unused-vars": ["error", {"args": "none"}],
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0
  }
}
