{
    "extends": [
    ],
    "rules": {
        "block-no-empty": null,
        "comment-empty-line-before": [
            "always",
            {
                "ignore": [
                    "stylelint-commands",
                    "after-comment"
                ]
            }
        ],
        "unit-allowed-list": [
            "em",
            "rem",
            "%",
            "s",
            "px",
            "deg"
        ]
    }
}
