/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
  display: inline-block;
  text-decoration: none;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.1px;
  white-space: wrap;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  filter: brightness(90%);
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default */
.button.button-default {
  color: #ffffff;
  background-color: #0085ff;
}

/* Discord */
.button.button-discord {
  color: #ffffff;
  background-color: #5865f2;
}

/* Facebook */
.button.button-facebook {
  color: #ffffff;
  background-color: #1877f2;
}

/* Facebook Messenger */
.button.button-facebookmessenger {
  color: #ffffff;
  background-image: linear-gradient(
  25deg,
  #0099ff,
  #5f5dff,
  #a033ff,
  #c740cc,
  #ff5280,
  #ff7061
);
}

/* Figma */
.button.button-figma {
  color: #ffffff;
  background-color: #000000;
}

/* Github */
.button.button-github {
  color: #ffffff;
  background-color: #000000;
}

/* Goodreads */
.button.button-goodreads {
  color: #333333;
  background-color: #f3f1e6;
}

/* Instagram */
.button.button-instagram {
  color: #ffffff;
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}

/* Kit */
.button.button-kit {
  color: #ffffff;
  background-color: #000000;
}

/* Letterboxd */
.button.button-letterboxd {
  color: #ffffff;
  background-color: #2c3440;
}

/* LinkedIn */
.button.button-linkedin {
  color: #ffffff;
  background-color: #2867b2;
}

/* Medium */
.button.button-medium {
  color: #ffffff;
  background-color: #000000;
}

/* Micro.blog */
.button.button-microblog {
  color: #ffffff;
  background-color: #fd9927;
}

/* Pinterest */
.button.button-pinterest {
  color: #000000;
  background-color: #ffe2eb;
}

/* Producthunt */
.button.button-producthunt {
  color: #da552f;
  border-style: solid;
  border-color: #da552f;
  border-width: 2px;
  background-color: #ffffff;
}

/* Reddit */
.button.button-reddit {
  color: #000000;
  background-color: #d7dfe2;
}

/* Skoob */
.button.button-skoob {
  color: #ffffff;
  background-color: #3189c8;
}

/* Snapchat */
.button.button-snapchat {
  color: #000000;
  background-color: #fffc00;
}

/* SoundCloud */
.button.button-soundcloud {
  color: #ffffff;
  background-color: #ff5500;
}

/* Spotify */
.button.button-spotify {
  color: #ffffff;
  background-color: #000000;
}

/* Steam */
.button.button-steam {
  color: #ffffff;
  background-color: #171a21;
}

/* Telegram */
.button.button-telegram {
  color: #ffffff;
  background-color: #3faee8;
}

/* TikTok */
.button.button-tiktok {
  color: #ffffff;
  background-color: #000000;
}

/* Tumblr */
.button.button-tumblr {
  color: #ffffff;
  background-color: #131313;
}

/* Twitch */
.button.button-twitch {
  color: #ffffff;
  background-color: #9146ff;
}

/* Twitter */
.button.button-twitter {
  color: #ffffff;
  background-color: #1da1f2;
}


/* Mastodon */
.button.button-mastodon {
  color: #ffffff;
  background-color: #0e68a0;
}

/* Vimeo */
.button.button-vimeo {
  color: #ffffff;
  background-color: #1ab7ea;
}

/* YouTube */
.button.button-youtube {
  color: #ffffff;
  background-color: #000000;
}


/* Wordpress */
.button.button-wordpress {
  color: #ffffff;
  background-color: #21759b;
}

/* WhatsApp */
.button.button-whatsapp {
  color: #ffffff;
  background-color: #2db842;
}

/* Strava */
.button.button-strava {
  color: #ffffff;
  background-color: #fd5000;
}

/* Buy Me a Coffee */
.button.button-buymeacoffee {
  color: #000000;
  background-color: #FFDD00;
}

/* GitLab */
.button.button-gitlab {
  color: #8c929d;
  background-color: #FFFFFF;
}

/* Patreon */
.button.button-patreon {
  color: #FFFFFF;
  background-color: #FF424D;
}

/* Dev.to */
.button.button-devto {
  color: #000;
  background-color: #fff;
}

/* Paypal */
.button.button-paypal {
  color: #ffffff;
  background-color: #1F264F;
}

/* Slack */
.button.button-slack {
  color: #fff;
  background-color: #4a154b;
}

/* Stack Overflow */
.button.button-stackoverflow {
  color: #000;
  background-color: #f8f9f9;
  font-weight: 100;
}
.button.button-stackoverflow:after {
  content: "overflow";
  font-weight: 700;
}

/* Last.fm */
.button.button-lastfm {
  color: #ffffff;
  background-color: #000101;
}

/* Gitea */
.button.button-gitea {
  color: #000;
  background-color: #ffffff;
}

/* Polywork */
.button.button-polywork {
  color: #fff;
  background-color: #543DE0;
}

/* Signal */
.button.button-signal {
  color: #000;
  background-color: #fff;
}

/* Untappd */
.button.button-untappd {
  color: #000;
  background-color: #FFCE0D;
}

/* Instant Gaming */
.button.button-instantgaming {
  color: #f50;
  background-color: #000;
}

/* ghost */
.button.button-ghost {
  color: #000;
  background-color: #fff;
}
