.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, .85);
    border-style: solid;
    border-color: rgb(0, 0, 0, .85);
}

.me {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-top: 1rem;
}

.avatar {
    /*vertical-align: middle;*/
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-top: 1rem;
}


.footer {
    margin-top: 36px;
    padding-bottom: 36px;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
        width: 80%;
    }

    .column,
    .columns {
        margin-left: 0;
    }

    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

}


/* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
  html is set to 62.5% so that all the REM measurements throughout Skeleton
  are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
    font-size: 100%;
    background: url(https://lh3.googleusercontent.com/TxGfbB-Bq1I_mJopVV6d5_m5abx6Pllyz-tHBCbdtJhhsN5G9AEJg6fSK_sxUw8QJgMsZsJ6nYNDnk7twEr5DrvoBom9L5cFFNt-g79FCLf3U-3a_nlCssXdjDdTMbUADgximuubwCmdKajwvAGNmz0Z7A-3rs3mxYqkOaNrPxKn08J6SHfe_HIpLdwa0FdxT0_CmhG7gcyZwznQ0fKpu2r5KrdXEY2j7wL26X4F5B9SNaXsz1j9qBg53Xl0Y-kLfm1CTIThunuhVANGINRtMZsFyood4S4hLvyM2XSve-POYdPvyL3_vHAzM3BOCIgMl5zh4gYYdA-sdZ0skjGZLfDSwm2VusqoepLesJyMxnLRV4l5mjuJam7mz_ZVb79sS1qloNpxByjXCbd8490P6Ebjbc76oMkO9tWPbWcjGeplr2D59ecNfzj-YDV3M03178Rts1XbTiYNZQDJ3PFoDuRjJz7AljW5z_TwYb4Quy6X389-rZeUvwfAeQXyU88qY1E9yVIqju4SNwKtD7SQkwheB6bUcdhA7w4rwWm_IFgeKQ23DZalwR_DlseGWQSuIfXjeauR4KxSH2p2VOeP2sJYGx655X4xpWK27U_poUZsbme9hWI7hnX8nYu7VYHkezAo_YYDIzzc57HFErqAQ4q39G8YFY-xiJlMTt6zBFDx0vT3QW2o1HYl_orjpS7j1QlqhbXz5WYoChj681mTaSZ4YUHMbQpb3kCXNvmYzfy-_f_akX91MUVsAd4=w1319-h880-no?authuser=0) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
}


/* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 800;
    letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
    h1 {
        font-size: 2.25rem;
        line-height: 6.5rem;
    }
}

p {
    margin-top: 0;
}


/* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: #0085FF;
}

a:hover {
    color: #0085FF;
}


/* Code
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    color: #000000;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

/* Spacing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
p,
ol {
    margin-bottom: 2.5rem;
}


/* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}


/* Misc
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}