@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #292929;
    --hr-color: #F1F1F1;
    --code-color: #F1F1F1;
    --font-color: #FFFFFF;
    --a-color: #0085FF;
    --border-color: #292929;
    --button-border-style: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: transparent;
    --hr-color: #F1F1F1;
    --code-color: #F1F1F1;
    --font-color: #222;
    --a-color: #0085FF;
    --border-color: #292929;
    --button-border-style: solid;
  }
}
